<div class="alert alert-dismissable alert-warning" >
      <button type="button" class="close" data-dismiss="alert"> X </button>
        <table class ="table table-striped table-hover">
        <tbody>
        <tr>
        <td width="16%">
        <%if event.avatar.present?%>
        <%= image_tag event.avatar.url, size: "150x75"%>
        <% else %>
        <%= image_tag 'logo1.png', size: "150x75"%>
       <% end %>
       <br>
        <%= link_to "favorite",   favorite_event_path(event, type: "favorite"), method: :put,:class => "btn btn-success btn-xs"  %>
  <%= link_to "unfavorite", favorite_event_path(event, type: "unfavorite"), method: :put ,:class => "btn btn-success btn-xs" %>
  <button type="button" class="btn btn-primary btn-sm"><%= event.reach.name if event.reach.present? %></button>
        </td>
        
         <td width="60%"><div><%= link_to event.title.upcase,event,{:style => 'color: #0F90BA;font-style: italic;font-size: 17px;'} %></div><div></div><table class ="table table-striped table-hover"><tbody><tr><td width="10%"><b>When</b></td><td width="40%"><%=event.sdatetime.to_formatted_s(:long_ordinal)%></td><td width="10%"><b>Who</b></td><td width="40%"><span><%=event.organizer%></span></td></tr><tr><td width="10%"><b>Where</b></td><td width="40%"><%=event.venue%><br><%=event.location%></td><td width="10%"><b>What</b></td><td width="40%" style="word-wrap: break-word; max-width: 0px;"><span><%=event.short_description%></span></td></tr></tbody></table><div></div></td>
         <td class = "aRi" width="10%"> 
         <div class="aU5"><span class="aRh"><%=event.sdatetime.strftime("%b") %></span><span class="aRg"><%=event.sdatetime.day %></span><span class="aRj"><%=event.sdatetime.strftime("%a") %></span></div>
         </td>
         
         <td width="14%">
        
     <% @push = Pushid.where(:user_id => @user.id, :event_id => event.id).first_or_initialize %>
     <% if @push.gcpush_id.present? %>
         <%= link_to 'Edit alert', @push.gcpush_htmllink,:class => "btn btn-success btn-xs",target: '_blank' %><br>
         <%= link_to 'Delete Google alert', del_path(:id => event.id),:class => "btn btn-warning btn-xs",method: :delete, data: {confirm: 'Are you sure?'} %>
         <% else %>
         <%= link_to 'Google alert', add2calendar_path(:id => event.id), :class => "btn btn-success btn-xs" %>
         <% end %><br>
         <% if @push.fbpush_id.present? %>
         <%= link_to 'Delete Fb alert', delfb_path(:id => event.id),:class => "btn btn-warning btn-xs",method: :delete, data: {confirm: 'Are you sure?'} %>
         <% else %>
         <%= link_to 'Facebook alert', push2fb_path(:id => event.id),:class => "btn btn-info btn-xs" %> 
        
         <% end %>
          </td>
 
         </tr>
         
                 </tbody>
                 </table>  
               </div>
