     <title></title>
    <footer>
    <div class="navbar navbar-default footdark">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-3">
            <h4><i class="icon-beaker icon-white"></i> About<h4>
            
              <ul class="quick-links">
                <li><a href="<%=about_path%>">About Us</a></li>
                <li><a href="<%=patnerships_path%>">Patnerships</a></li>
                <li><a href="<%=team_path%>">Team</a></li>
                <li><a href="#">Take a Tour</a></li>
              <ul>
                      
          </div>
          <div class="col-lg-3">
            <h4><i class="icon-thumbs-up icon-white"></i> Support</h4>
            
              <ul class="quick-links">
                <li><a href="<%=faq_path%>">FAQ</a></li>
                <li><a href="<%=new_contact_form_path%>">Contact us</a></li>            
              </ul>
            
         <!---   <i class="icon-legal icon-white"></i> Legal
            
              <ul class="quick-links">
                <li><a href="#">License</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Security</a></li>      
              </ul>----->
                      
          </div>
          <div class="col-lg-3">
            <h4>Get in touch</h4>
            <div class="social-icons-row">
              <a href="https://twitter.com/kampusbee"><i class="icon-twitter"></i></a>
              <a href="https://www.facebook.com/pages/Kampusbeecom/620695481313043?fref=ts"><i class="icon-facebook"></i></a>
              <a href="#"><i class="icon-google-plus"></i></a>             <a href="mailto:kampusbee@gmail.com"><i class="icon-envelope"></i></a>                            
            </div>
            
            <div class="social-icons-row">
              <i class="icon-phone icon-large phone-number"></i> +918884056308
            </div>
          </div>      
          <div class="col-lg-3">
           <!--- <h4>Get updated by email</h4>
            <form>
              <input type="text" name="email" placeholder="Email address">
              <input type="submit" class="btn btn-primary" value="Subscribe">
            </form>--->
          </div>
        </div>
      </div>
      <hr class="footer-divider">
      <div class="container">
        <p>
          &copy; 2014 Kampusbee.com, Inc. All Rights Reserved.
        </p>
      </div>
      </div>
    </footer>
    <!-- End: FOOTER -->
